*{
  font-size:14px;
  line-height:20px;
  list-style: none;
}
.background-all{

}
.pagetop-through{
  /*首行贯通条底部样式*/
  background-color: grey;
  height: 100px;
  line-height: 100px;
  width:100%;
  border: 1px solid #fff;
}

.pagetop-through div{
  float: left;
  margin:0 10px;
}
