*{
  font-family: SimSun;
  font-size:12px;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color:#6c6c6c;
}

li{
  list-style-type: none;
  line-height: 34px;
}

.indexpage-menu{
  /*首行贯通条底部样式*/
  background-color:#f5f5f5;
  height: 34px;
  width:auto;
  border: 1px solid #eee;
  overflow: hidden;/*超出边界会隐藏不会导致自动换行*/
}

a:hover{
  color: #f3502a;
}

.indexpage-menu-left{
  float:left;
  padding-left: 42px;
}

.indexpage-menu-left li{
  float:left;
  padding-right: 7px;
}
.indexpage-login a{
  color: #f3502a;
}

.indexpage-mobile{
  padding-left: 12px;
}

.indexpage-menu-right{
  float:right;
  padding-right:36px;
}

.indexpage-menu-right li{
  float:left;
  z-index: 3;
  /*padding:0 8px 0 6px;*/
}

.image-left{/*做侧不同图片，暂做方形处理*/
  display: inline-block;
  width:12px;
  height: 6px;
  background: #6c6c6c;
}

.image-right{
  display: inline-block;
  width: 12px;
  height: 6px;
  background-color: black;
  overflow: hidden;
}

.indexpage-fenge{
  color: #ddd;
  padding:0 5px;
}
.indexpage-menu-block{
  padding:0 6px;
}

.indexpage-menu-block a{
  display: inline-block;
  margin-right: 7px;
  line-height: 34px;
}


.indexpage-menu-list-dl dd{
  line-height: 28px;
  padding: 0 6px;
  color: #6c6c6c;
}

.indexpage-menu-list{
  display: none;
  z-index: 4;
  position: absolute;
  border:1px solid #eee;
  padding:8px 0;
}


.indexpage-menu-block:hover{
  background-color: white;
}

.indexpage-menu-list-dl dd:hover{
  background-color: #f5f5f5;
}

.indexpage-mytaobao:hover .indexpage-menu-list{
  display: block;
}
.indexpage-salescenter:hover .indexpage-menu-list{
  display: block;
}
.indexpage-shoucang:hover .indexpage-menu-list{
  display: block;
}
.indexpage-account:hover .indexpage-menu-list{
  display: block;
}
