*{
  font-size:14px;
  line-height:20px;
  list-style: none;
}

.pagetop-through{
  /*首行贯通条底部样式*/
  background-color: grey;
  height: 100px;
  line-height: 100px;
  width:100%;
  border: 2px solid #f22;
}

.pagetop-left{
  float:left;
}

.pagetop-left div{
  float:left;
}

.pagetop-right{
  float:right;
}

.pagetop-right div{
  float:left;
}
